@import '@fortawesome/fontawesome-free/css/all.min.css';

$bg-color: #f4f4f4;
$shadow-light: #ccc;
$shadow-dark: #aaa;

body {
    background-color: $bg-color;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em $shadow-light;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em $shadow-dark;
}

.item.completed {
    text-decoration: line-through;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
